$font-color: gray;
$background-color: #e8e8e861;

$bucket-title-color: black;

$item-component-background-color: white;

$item-box-shadow: 3px 8px 30px -18px black;
$item-box-shadow-hover: 3px 1px 14px -21px black;
